<header>
	<nav>
		<ul>
			<li><a href="#">Videos</a></li>
			<li>/</li>
			<li><a href="#">Lookbook</a></li>
			<li>/</li>
			<li><a href="#">Shop</a></li>
			<li>/</li>
			<li><a href="#">About</a></li>
			<li>/</li>
			<li><a href="#">Blog</a></li>
		</ul>
	</nav>
	<div id="icons">
		<ul>
			<li><a href="https://www.youtube.com/user/NoAnchorTV" target="_blank"><img src="images/YOUTUBE.png"></a></li>
			<li><a href="http://instagram.com/noanchor" target="_blank"><img src="images/INSTA.png"></a></li>
			<li><a href="https://www.facebook.com/noanchorproject" target="_blank"><img src="images/FACEBOOK.png"></a></li>
			<li><a href="http://www.twitter.com/noanchorproject" target="_blank"><img src="images/TWITTER.png"></a></li>
		</ul>
	</div><!-- end icons -->
	<div class="clear-fix"></div>
</header>