
<section fade-logo id="landing">
	<div class="background">
		<div class="center-text">
			<!-- <h1 >No Anchor</h1> -->
		</div>
	</div>
</section>

<section id="about">
	<div class="grid-container center-text">
		<div class="six column">
			<p> 
				NO ANCHOR is our conduct. An existence drenched in music, 
art and experiences. We live without restrictions.
			</p>
			<p> 
				We create clothing, videos, and art based on that state of 
mind. Our hope is to inspire those who are open and 
encourage them to live against the grain.
			</p>
			<a href="#"><button class="red-btn"type="button">Learn More</button></a>
		</div>
	</div>
</section>

<section id="videos" class="background-red">
	<div class="grid-container">
		<div class="img six columns">
			<img src="images/No_Anchor_Video.png">
		</div>
		<div class="info six columns">
			<h2>Videos</h2>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
			<a href="#"><button class="grey-btn"type="button">Check Em Out</button></a>
		</div>
	</div>
</section>

<section id="apparel">
	<div class="grid-container center-text">
		<div class="info six column">
			<h2>No Anchor Apparel</h2>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			</p>
			<a href="#"><button class="red-btn"type="button">Our Lookbook</button></a>
			<a href="#"><button class="red-btn"type="button">Start Shopping</button></a>
		</div>
	</div>
</section>

<section id="blog">
	<div class="grid-container center-text">
		<div class="info six column">
			<h2>Our Blog</h2>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			</p>
		</div>
	</div>
</section>

<section id="blog-recent" class="background-red">
	<div class="grid-container">
		<article class="four columns">
			<h3>Post Header</h3>
			<p class="date">Dec 1st 2014 - 12:30pm</p>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			</p>
			<a href="#"><button class="grey-btn"type="button">Read More</button></a>
		</article>
		<article class="four columns">
			<h3>Post Header</h3>
			<p class="date">Dec 1st 2014 - 12:30pm</p>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			</p>
			<a href="#"><button class="grey-btn"type="button">Read More</button></a>
		</article>
		<article class="four columns">
			<h3>Post Header</h3>
			<p class="date">Dec 1st 2014 - 12:30pm</p>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			</p>
			<a href="#"><button class="grey-btn"type="button">Read More</button></a>
		</article>
	</div>
</section>

<footer>
</footer>
	