
<section id="landing">
	<div class="background">
		<div class="center-text">
			<h1>No Anchor</h1>
		</div>
	</div>
</section>

<section id="about">
	<div class="grid-container">
		<p class="center-text"> 
			NO ANCHOR is our conduct. An existence drenched in music, 
art and experiences. We live without restrictions.
We create clothing, videos, and art based on that state of 
mind. Our hope is to inspire those who are open and 
encourage them to live against the grain.
		</p>
	</div>
</section>

<section id="videos" class="background-red">
	<div class="grid-container">
		<div class="info six columns">
			<h2>Videos</h2>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
	</div>
</section>

<section id="apparel">
</section>

<section id="blog">
</section>

<footer>
</footer>
	