/* --------------------------------------------------------------------------------------------------
	
	No Anchor Project 
	Nicole Aitchison
	
-------------------------------------------------------------------------------------------------- */


/* General ----------------- */


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 18px/30px Helvetica, sans-serif;
	font-weight: lighter;
	color: #DBDBDB;
	/* letter-spacing: .5px; */
}

h1, h2, h3{
	font-family:'akzidenz-grotesk_condensed_Rg', helvetica, sans-serif;
	text-transform: uppercase;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 45px;
	padding-bottom: 10px;
}

h3{
	font-size: 30px;
	padding-bottom: 0;
}

p{
	padding: 10px 0;
}

ul{
	list-style-type: none;
}

li{
	float: left;
}

.clear-fix{
	clear: both;
}

.center-text{
	text-align: center;
}

.background-red{
	background-color: #62222B;/* blue #21434F red #843232 */
}

button{
	letter-spacing: 1px;
	border: none;
	border-radius: 2px;
	padding: 8px 12px;
	font: 23px 'akzidenz-grotesk_condensed_Rg', helvetica, sans-serif;
	text-transform: uppercase;
	color: #DBDBDB;
	margin-top: 10px;
	cursor: pointer;
}

button.grey-btn{
	background-color: RGBA(80,80,80, .8);
}

button.red-btn{
	background-color: RGBA(98,34,43,.8);/*RGBA(132,50,50, .8)*/
}

button:hover{
	opacity: .7;
}


/* Header & Navigation ----------------- */


header{
	box-sizing: border-box;
	position: fixed;
	z-index: 8;
}

#icons, #icons ul{
  float: right;
}

#icons{
  position: fixed;
  padding-top: 20px;
  right: 1.2%;
}

#icons ul{
  float: right;
}

#icons li{
  padding-right: 8px;
  cursor: pointer;
}

#icons li:hover{
	opacity: .6;
}


/* Landing ----------------- */


#landing{
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* padding: 10px; */
	position: fixed;
	z-index: -5;
}

#landing .background{
	position: static;
	box-sizing: border-box;
	background: url(../images/SMALL_32C_30LOS.gif) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#landing h1{
	margin-top: 42vh;
}

.blur{
   -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);

  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;

  opacity: .7;
}

#about{
	/* height: 300px; */
	padding: 100vh 0 90px;
	background: -moz-linear-gradient(top,  rgba(44,42,42,0) 0%, rgba(44,42,42,0) 1%, rgba(44,42,42,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,42,42,0)), color-stop(1%,rgba(44,42,42,0)), color-stop(100%,rgba(44,42,42,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,42,42,0) 0%,rgba(44,42,42,0) 1%,rgba(44,42,42,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,42,42,0) 0%,rgba(44,42,42,0) 1%,rgba(44,42,42,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,42,42,0) 0%,rgba(44,42,42,0) 1%,rgba(44,42,42,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,42,42,0) 0%,rgba(44,42,42,0) 1%,rgba(44,42,42,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c2a2a', endColorstr='#2c2a2a',GradientType=0 ); /* IE6-9 */
}

#about p{
	/* width: 52%; */
	/* margin: 0 auto; */
	padding: 8px 0;
	font: 34px/42px 'akzidenz-grotesk_condensed_Rg', helvetica, sans-serif;
}

#videos .img{
	margin-bottom: -10px;
}

#videos .img img{
	width: 100%;
}

#videos .info{
	padding: 50px 30px;
}

#apparel .info, #blog .info{
	padding: 5px 0;
}

#apparel{
	background: url(../images/apparel-2.jpg) no-repeat top center;
	box-sizing: border-box;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	padding: 90px 0;
}

#blog{
	background: url(../images/blog-2.jpg) no-repeat top center;
	box-sizing: border-box;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	padding: 90px 0;
	/* color: #2122; */
}

#blog-recent{
	padding: 40px 0;
}

#blog-recent article{
	padding: 0 25px;
	font-size: 14px;
	line-height: 26px;
}

article p.date{
	font-size: 12px;
	font-style: oblique;
	opacity: .8;
	color: #ccc;
	padding: 0;
}

/* Grid ----------------- */

.sub-container{
  margin-top: 10px;
}

.grid-container{
 /*  width: 84%; */ /* 73.68% 1050px*/
   width: 100%;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
}

.column{
	margin: 0 auto;
	box-sizing: border-box;
}

.columns{
  float: left;
  box-sizing: border-box;
  /* padding: 0 1.5%; */
}

.left{
  box-sizing: border-box;
  padding-right: 15px;
}

.right{
  box-sizing: border-box;
  padding-left: 15px;
}

/* 12 column grid */
.one    { width: 8.33%; }
.two    { width: 16.66%; }
.three  { width: 25%; }     /* quarter */
.four   { width: 33.32%; }  /* third */
.five   { width: 41.65%; }
.six    { width: 50%; }     /* half */
.seven  { width: 58.31%; }
.eight  { width: 66.64%; }
.nine   { width: 75%; }     /* two thirds */
.ten    { width: 83.3%; }
.eleven { width: 91.63%; }
.twelve { width: 100%; }

/* Fonts ----------------- */


@font-face {
    font-family: 'akzidenz-grotesk_condensed_Rg';
    src: url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.eot');
    src: url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.woff') format('woff'),
         url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz_grotesk_r_condensed_medium_italic-webfont.svg#akzidenz-grotesk_condensed_Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Media Queries ----------------- */


@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 550px){

}




